
<div class="row">
	<div class="col-sm-4">
		<div class="animated slideInLeft newsfeed-container">
			<h4><%= t('newsfeed') %></h4>


		</div>
	</div>
	<div class="col-sm-8">
		<div style="">
			Slider here.

		</div>
	</div>
</div>
