@import "*";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import "froala_editor.min";
@import "froala_style.min";

a,
a:hover,
a:after {
	background-color:none;
	text-decoration:none;
}

a:hover {
	background-color:none;
}

.hor-margin {
	margin-top:125px;
}
.cs-container {
	border-radius:5px;
	background-color:white;
	padding: 20px;
	-webkit-box-shadow: 2px 3px 7px -1px rgba(0,0,0,0.63);
	-moz-box-shadow: 2px 3px 7px -1px rgba(0,0,0,0.63);
	box-shadow: 2px 3px 7px -1px rgba(0,0,0,0.63);
}


.mt10{margin-top:10px}.mt20{margin-top:20px}

@media only screen and (min-width: 768px) {
	.container {
	}	
}