// Place all the styles related to the Front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front-footer {
	border-top:1px solid #8C8C8C;
	margin:auto;
	margin-top:100px;
	height:100px;
	width:100%;
	overflow: hidden;
}
.footer-social-container {
	margin-top:25px;
	margin-left:40px;
	padding:10px;
}
.footer-social-icon {
	margin-left:20px;
	float:left;
}
.footer-copyright-container {
	margin-top:37px;
	padding:10px;

}
.footer-copyright-container span {
	font-style: italic;
	font-size:12px;
}
.footer-menu-container {
	margin-top:37px;
	margin-left:20px;
	padding:10px;
}
.footer-menu-container ul,
.footer-menu-container ul li,
.footer-menu-container ul li a {
	text-decoration:none;
	color:black;
	list-style:none;
	padding:0;
	margin:0;
}
.footer-menu-container ul {
	display:block;
}
.footer-menu-container ul li {
	float:left;
	padding:0px 10px 0px 10px;
}

.footer-menu-container ul li a {
	color: #4078c0;
	padding:0px 10px 0px 10px;

}

header {
	z-index:999;
	width:100%;
	position: fixed;
	top:0;
}

.header-menu {
	z-index:999;
	height:50px;
	width:100%;
	background-color:white;
	-webkit-box-shadow: 0px 17px 15px -16px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 17px 15px -16px rgba(0,0,0,0.65);
	box-shadow: 0px 17px 15px -16px rgba(0,0,0,0.65);
}

.hor-nav {
	z-index:999;
	text-align:center;
	margin:auto;
}

.hor-nav,
.hor-nav .hor-ul,
.hor-nav .hor-ul li,
.hor-nav .hor-ul li a {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
	color:black;
}
.hor-nav .hor-ul {
	display:block;
	margin:auto;
	margin-left:35%
}


.hor-nav .hor-ul li {
	float: left;
	display:inline-block;
}
.hor-nav .hor-ul li a {
	font-family: 'Exo 2';
	display:inline-block;
	padding: 14px 20px;
	color:black;
}
.hor-nav .hor-ul li:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.hor-nav .hor-ul li:hover:after {
	width:100%;
	background:#008AB8;
}
.hor-nav .active {
	border-bottom:3px solid #008AB8;
}
.hor-nav .active:hover {
	border:none;
}
.right-menu {
	float:right;
}

.second-hor-nav {
	float:right;
	padding:7px;
	position:relative;
	height: 50px;
	margin-right:150px


}	



.logo-box {
	float:left;
	width:250px;
	height:100px;
	background:#FFF;
	margin-left:10%;
	padding:10px;
}
.logo-box-effect
{
  position: relative;
}
.logo-box-effect:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:250px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

@media only screen and (max-width: 768px) {
	.hor-nav .hor-ul {
		margin-left:0;
	}
	.sign_in-menu {
		display: none;
	}
	.logo-box {
		display: none;
	}
}