// Place all the styles related to the Front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front-footer {
	background-color:#8C8C8C ;
	margin-top:20px;
	height:100px;
	width:100%;
	overflow: hidden;
}
.footer-social-container {
	margin-top:25px;
	margin-left:40px;
	padding:10px;
}
.footer-social-icon {
	margin-left:20px;
	float:left;
}
.footer-copyright-container {
	margin-top:35px;
	margin-left:40px;
	padding:10px;	
}
.footer-copyright-container span {
	font-style: italic;
}
header {
	z-index:999;
	width:100%;
	position: fixed;
	top:0;
}

.header-menu {
	z-index:999;
	height:50px;
	width:100%;
	background-color:white;
	-webkit-box-shadow: 0px 17px 15px -16px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 17px 15px -16px rgba(0,0,0,0.65);
	box-shadow: 0px 17px 15px -16px rgba(0,0,0,0.65);
}

.hor-nav {
	z-index:999;
	text-align:center;
	margin:auto;
}

.hor-nav,
.hor-nav .hor-ul,
.hor-nav .hor-ul li,
.hor-nav .hor-ul li a {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
	color:black;
}
.hor-nav .hor-ul {
	display:block;
	margin:auto;
	margin-left:35%
}


.hor-nav .hor-ul li {
	float: left;
}
.hor-nav .hor-ul li a {
	font-family: 'Exo 2';
	display:inline-block;
	padding: 16px 20px;
	color:black;
	&:hover {
		background-color: #D9D9D9;
	}
}

.hor-nav .active {
	background-color: #008AB8;
}
.right-menu {
	float:right;
}

.second-hor-nav {
	float:right;
	padding:7px;
	position:relative;
	height: 50px;
	margin-right:150px


}	



.logo-box {
	float:left;
	width:250px;
	height:100px;
	background:#FFF;
	margin-left:10%;
	padding:10px;
}
.logo-box-effect
{
  position: relative;
}
.logo-box-effect:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:250px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

@media only screen and (max-width: 768px) {
	.hor-nav .hor-ul {
		margin-left:0;
	}
	.sign_in-menu {
		display: none;
	}
	.logo-box {
		display: none;
	}
}